# Dependências
node_modules/

# Build
dist/
.angular/

# Variáveis de ambiente — NUNCA suba isso!
.env
*.env.local
# Cache
.cache/
.npm/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
